.trello-blue-background {
  background-color: $trello-blue;
}

.trello-faded-blue-background {
  background-color: $trello-faded-blue;
}

.trello-business-background {
  background-color: $trello-business;
}

.white-background {
  background-color: $color-white;
}